.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Sans Serif";
    -fx-base: rgb(132, 145, 47);
    -fx-background:
        linear-gradient(rgb(15,90,240), rgb(10,55,150), rgb(5,25,70), rgb(10,55,150),rgb(15,90,240));
}

.button{
    -fx-background-color:
       linear-gradient(rgb(40,230,240), rgb(15,200,210));
    -fx-background-radius: 16.4, 15;
    -fx-background-insets: -1.4, 0;
    -fx-border-radius: 15;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-border-color: rgb(0, 0, 70);
}

.button:hover{
        -fx-background-color:
           linear-gradient(rgb(60,250,260), rgb(35,220,230));
    -fx-background-radius: 16.4, 15;
    -fx-background-insets: -1.4, 0;
    -fx-border-radius: 15;
    -fx-border-color: rgb(0, 0, 70);
}

.label{
    -fx-background-color:rgb(0,0,100);
    -fx-text-fill: rgb(255,255,255);
}

.text-field {
  -fx-highlight-fill: #00ff00;
  -fx-highlight-text-fill: #000000;
  -fx-text-fill: #000000;
  -fx-background-color: rgb(255,255,255);
}

.text-field .content{
     -fx-background-color: white;
}
